.box-div{
  display: flex;
  justify-content: center;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address{
  margin-top: 80px;
}

.header{
  margin-top: 80px;
}

.input-2{
  margin-top: 30px;
  width: 400px;
}
